﻿@model IEnumerable<MyMSACSSecurity.Models.StudentDegree>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AbbrevSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.DegreeAbbrev)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.DegreeName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeName)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentDegreeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentDegreeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentDegreeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
