﻿@{
    ViewData["Title"] = "About Us";
}


<h2>Project Team</h2>
<div class="row">
    <div class="col-md-3">
        <h3>Mani Vikash Vanaparthi</h3>
        <i>Software Designer </i><br /><br />
        Profile: <a href="https://www.linkedin.com/in/mani-vikash-33408098/" target="_blank">Mani Vikash Vanaparthi</a>
    </div>

    <div class="col-md-3">
        <h3>Sainath Gulla</h3>
        <i>Software Developer</i> <br /><br />
        Profile: <a href="https://www.linkedin.com/in/sainathgulla/" target="_blank">Sainath Gulla</a>
     </div>

    <div class="col-md-3">
        <h3>Sashidhar Siddamsetty</h3>
        <i>Software Developer</i><br /><br />
        Profile: <a href="https://www.linkedin.com/in/sashidharsiddamsetty/ target="_blank">Sashidhar Siddamsetty</a>
     </div>

    <div class="col-md-3">
        <h3>Siva Reddy Mekapothula</h3>
        <i>Software Designer</i> <br /><br />
        Profile: <a href="https://www.linkedin.com/in/sivareddy-mekapothula-76805aa2/" target="_blank">Siva Reddy Mekapothula</a>
     </div>
</div>
