﻿@{
    ViewData["Title"] = "Contact";
}

<h3>You can contact us at:</h3>

<address>
    1115 N College Drive <br/>
    Maryville, MO - 64468r <br/>
    <abbr title="Phone">Phone:</abbr>
    660.528.1246
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@mymsacssecurity.com">Support@mymsacssecurity.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mymsacssecurity.com">Marketing@mymsacssecurity.com</a>
</address>
