﻿@model MyMSACSSecurity.Models.StudentDegreeRequirement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentDegreeRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequirementNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirementAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirementName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentDegree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentDegree.DegreeAbbrev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentDegreeRequirementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
