﻿@model MyMSACSSecurity.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentDegreePlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncludesInternship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncludesInternship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentDegree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentDegree.DegreeAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentDegreeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentDegreeStatus.DegreeStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentDegreePlanId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
