﻿@model IEnumerable<MyMSACSSecurity.Models.StudentDegreePlan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlanNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanAbbrev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncludesInternship)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDegree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDegreeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesInternship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDegree.DegreeAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDegreeStatus.DegreeStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentDegreePlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentDegreePlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentDegreePlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
